.header {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.header__contact {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.33;
    color: #FFFFFF;
    transition: 0.2s;
    margin-bottom: 0.8rem;
    margin-top: -0.09rem;
    display: flex;
    justify-content: space-between;
}

.header__contact:hover {
    color: #a3cc40;
}

.header__mail {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 0.05rem solid;
    display: inline;
    transition: 0.2s;
}

.header__mail:hover {
    color: #a3cc40;
}

.header__tel,
.header__addres {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.33;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
}

.header__addres {
    display: inline-block;
}

.header__down-arrow {
    fill: #FFFFFF;
    vertical-align: middle;

}

.header__addres-link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.header__addres:hover .header__addres-link {
    color: #a3cc40;
}

.header__tel:hover {
    color: #a3cc40;
}

.header__call {
    width: 10rem;
    height: 1.2rem;
    background: #FFFFFF;
    border: 0.05rem solid #EDEDED;
    box-sizing: border-box;
    border-radius: 0.3rem;
}

.header__phone-icon {
    width: 0.8rem;
    height: 0.8rem;
    fill: #333333;

}

.phone {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    transition: all 0.2s ease;
}

.phone:hover {
    background: #A3CC40;
    border: 0.05rem solid #EAEDE2;
    color: #FFFFFF;
}

.phone:hover .header__phone-icon {
    fill: #FFFFFF;
}

.header__menu {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.header__block {
    display: flex;
    justify-content: space-between;
    list-style: none;
    display: inline-flex;
    width: 100%;
}

.header__link,
.header__contacts {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.33;
    height: 1rem;
    cursor: pointer;
}

.header__link:hover,
.header__contacts:hover {
    color: #a3cc40;
    border-bottom: 0.05rem solid;
    padding-bottom: 0.05rem;
}

.header__link:visited {
    color: #fff;
    text-decoration: none;
}

/*  Приветствие ========================================================*/


.header-wrapper {
    background-color: rgb(35, 131, 80);
    overflow: hidden;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 320px) {
    .header__contact {
        display: none;
    }
    .container {
        width: 98%;
    }

}

